body{
    background-color: antiquewhite;
    text-align: center;
}

h1{
    color: whitesmoke;
    background-color: darkseagreen;
    font-size: 100px;
}

h2{
    color: #FAF8F1;
    background-color: #C58940;
    font-size: 100px;
}

